/* colors
 #555B6E
 #89B0AE
 #BEE3DB
 #FAF9F9
 #FFD6BA
*/


body {
    background-color: #FAF9F9;
}
#main {
    margin: 0 auto;
    padding: 10px;
    width: 400px;
    height: 450px;
    border: 1px solid black;
    border-radius: 25px;
    background-color: #BEE3DB;
    color:#555B6E;
    align-content: center; 
    /* justify-content: center; */
    font-family: 'Courier New', Courier, monospace;
}

#title{
    margin: 5%;
    text-align:center;
    text-decoration: underline;

}
#text-fields{
    margin:5%;
}

#password-length{
    margin: 5%;
    width:20%;
    border-radius: 5px;
    padding: 5px;
}

label{
    margin-left:5%;
}
#password{
    margin:2%;
    width:90%;
    height: 50px;
    padding:2%;
    background-color: aliceblue;
    border-radius: 10px;
}

#create-password{
    border-radius: 10px;
    margin-left: 5%;
    padding: 5px;
}


#instructions {
    color: #555B6E;
    padding: 15px;
}